@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #D4DADE;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  height: 100vh;

  gap: 30px;
}

h1{
  font-weight: bold;
  font-size: 1.6rem;
}

section{
  width: 100%;
  text-align: center;
}
section select{
  width: 50%;
  margin-top: 8px;
}

section h2{
  font-weight: bold;
}


